<div class="custom-item" style={{myStyle}}>
  {{input type="text" value=color}}
  <div>
    {{input type="range" min="200" max="1000" value=width}}
  </div>
  
  <div>{{width}}</div>
  
  <button {{action "remove"}}>Remove</button>
</div>
